.common {
  border: 1px solid #b0b0b0;
  border-radius: 0.2em;
  padding: 4px;
}

.words {
  display: flex;
  flex-wrap: wrap;
}

.count {
  font-size: 1.6em;
}

.message {
  margin-left: 8px;
  font-size: 1.15em;
}
