.testWord {
  display: inline-block;
  padding: 0.2em;
  border-radius: 0.2em;
  margin: 8px 8px 8px 0;
  background: var(--light-background-color);
}

.testWord.active {
  font-size: 2.0em;
}

.topRow {
  display: flex;
  justify-content: space-between;
}

.button {
  align-self: flex-start;
  margin-left: 8px;
}

.word {
  font-size: 2.5em;
}

.phonemeWrap {
  display: flex;
}

.phonemeWrap.active {
  min-height: 2.5em;
}

.complete {
  background: #c0ffd0;
}
