html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Georgia, serif;
  font-size: 1.8em;
}

header {
  padding: 1em;
  background-color: #f0f0f0;
  border-bottom: 1px solid #d0d0d0;
}

h1 {
  margin: 0;
}

main {
  padding: 16px;
}

button {
  margin: 0 8px;
}

.phonemeReference {
  padding: 16px;
  background-color: #f0d0e0;
}

.phonemeBox {
  padding: 16px;
  background-color: #f0e0d0;
}

.phonemeGroupName {
  padding: 16px;
  background-color: #e0f0d0;
}

.phonemeGroup {
  padding: 16px;
  background-color: #d0f0e0;
}

.phoneme {
  padding: 16px;
  background-color: #d0e0f0;
  border: 1px solid #b0d0f0;
}
