.phonemeReference {
  padding: 4px;
  margin-top: 8px;
  background-color: #d0e0ff;
}

.title {
  font-weight: bold;
}

.phonemes {
  font-size: 70px;
}

.phonemes h3 {
  font-size: 18px;
  color: #505050;
}
