.phonemeDisplay {
  display: inline-block;
  box-sizing: border-box;
  padding: 4px;
  margin: 0 4px;
  border: 1px solid #d0d0d0;
  background-color: #fcfcfc;
  font-size: 0.7em;
}

.symbol {
  display: flex;
  justify-content: center;
  font-size: 0.9em;
}

.phoneme {
  display: flex;
  justify-content: center;
}
