.phonemeDisplay {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid var(--border-color);
  border-radius: 0.1em;
  padding: 0.2em;
  margin: 0 2px;
  background: white;
  color: var(--dark-text-color);
}

.symbolWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.symbol {
  height: 1em;
  width: 1em;
  font-size: 0.95em;
}

.phoneme {
  display: flex;
  justify-content: center;
  font-size: 1em;
}
