:root {
  --dark-text-color: #404040;
  --mid-text-color: #686868;
  --border-color: #d0d0d0;
  --light-background-color: #f0f0f0;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Georgia, serif;
}

header {
  padding: 1em;
  background-color: #f0f0f0;
  border-bottom: 1px solid #d0d0d0;
}

h1 {
  margin: 0;
}

main {
  padding: 16px;
}

form {
  margin: 4px 2px;
}

.title {
  margin: 2px 8px 2px 0;
  font-size: 1.2em;
  font-weight: bold;
}

.subtitle {
  margin: 2px 8px 2px 0;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--mid-text-color);
}

.margin-left-4 {
  margin-left: 4px;
}

.margin-left-8 {
  margin-left: 8px;
}

.testWords {
  margin-bottom: 16px;
  font-size: 1.0rem;
}

.phonemeReference {
  margin-top: 16px;
  font-size: 1.0rem;
}

.complete {
  margin-top: 16px;
  font-size: 1.0rem;
}

.common {
  margin-top: 16px;
  font-size: 1.0rem;
}
